 <div class="col-lg-8 mx-auto">
  <div class="card" style="width: 18rem;">
      <div class="card-header">
          <h2 class="card-title">Add New Movie</h2>
      </div>
      <div class="card-body">
      
          <%= render "form", movie: @movie %>
      </div>
    </div>
  <br>
  <%= link_to "Back to movies", movies_path %>
</div>


